*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --clr-icon : #000;
}

body {
    font-family: 'Roboto', sans-serif;
}

.style-scope {
    width: 24px;
    fill: var(--clr-icon);
}


header img{
    width: 20%;
    display: flex;
}


.container{ 
    width: 100%;
}

.container nav {
    margin-left: 10%;
}


nav li {
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
    padding: 1px 10px;
    list-style: none;
}

ul{
    display: flex;
    padding: 1rem;
    width: 90%;
    margin: 2vh 0;
    
}

figure img{
    width: 100%;
}

.dispNone{
    display: none;
}

aside{
    z-index: 300;
    display: none;
    position: fixed;
    top: 9%;
    left: 0;
    text-align: center;
    background-color: #fff;
    height: 100%;
    padding: 1rem 0;
}
aside svg{
    margin: 0 auto;
}

figure{
    position: relative;
}
figcaption{
    width: fit-content;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.486);
    color: #fff;
    padding: .2rem 1rem;
    border-radius: 10px
}

#liste{
    width: 100%;
    padding: 2rem 0;
    margin-left: 7%;
}


.info {
    display: flex;
    padding: 2px ;
}
.metaData {
    position: relative;
    left: 30px;
    padding: 10px;
}
.avatar {
    display: flex;
    border-radius: 100px;
    height: 40px;
    
}

.menu{
    display: flex; 
    margin-left: 5%;
    padding: 1px;
    
}

.video{
        margin: 0 auto;
        max-width:max(300px);
}

.menu img{
    margin: 1rem;
}







@media (min-width: 435px) {
    #liste {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
    }
    aside {
        display: block;
    }
    aside svg {
        margin-bottom: .6rem;
    }
    .container nav,
    .container {
        left: 60px;
        width: calc(100% - 60px);
    }
}
@media (min-width: 435px) and (max-width: 814px) {
    .video {
        max-width: 500px;
    }
}
@media (min-width: 610px) {
    aside svg {
        margin-bottom: 0;
    }
    aside .label {
        display: block;
    }
    .dispNone {
        display: block;
    }
}